

  .container1 {
    padding: 25px 0;  
    padding: 20px;
    max-width: 900px;
   margin: 20px auto;

    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.content2{
  display: flex;
  align-items: center;
}




.profile-photo {
    
    background-color:var(--main-color);
    width: 120px;
    height: 120px;
    border-radius: 4px;
    vertical-align: top;
  }

  .profile-photo i{
    font-size: 70px;
    color: white;
    padding: 30px;
  }

  .upload-section {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
    text-align: left;
  }

  .upload-section p {
    margin: 5px 0;
  }

  .upload-section button {
    display: block;
    margin: 5px 0;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }

  .upload {
    background-color:var(--main-color);
    color: white;
  }

  .remove {
    background-color: #bbb;
    color: white;
  }

  .my-tickets {
    float: right;
    background-color:var(--main-color);
    color: white;
    padding: 40px 20px;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
  }

  .form-table {
    width: 100%;
    margin-top: 40px;
    border-spacing: 15px;
  }

  .form-table td {
    padding: 5px;
  }

  .form-table input {
    width: 100%;
    padding: 10px;
    margin-bottom:10px ;
    font-size: 14px;
    border: none;
    background-color: #f7fafc;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.form-table input:focus{
  border: 2px solid var(--main-color);
  background-color: #e6fffa;
  outline: none;
}

  .passenger-details {
    text-align: left;
    font-size: 14px;
    color: #444;
    margin-top: 30px;
  }

  .passenger-details h3 {
    color:var(--secondary-color);
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 10px;
  }
  .passenger-details h3 i{

    padding-right:5px ;
  }

  .buttons {
width: 100%;
    margin-top: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;

  }

  button:hover{
    cursor: pointer;
    transition: 1.2s;
    -webkit-transition: 1.2s;
    -moz-transition: 1.2s;
    -ms-transition: 1.2s;
    -o-transition: 1.2s;
    background-color: var(--secondary-color);
}

  .buttons button {
    padding: 10px;
    font-size: 16px;
    margin: 0 20px;
    background-color:var(--main-color);
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: 40%;
  
  }

  .buttons button:hover{
    transition: 1.2S;
    -webkit-transition: 1.2S;
    -moz-transition: 1.2S;
    -ms-transition: 1.2S;
    -o-transition: 1.2S;
    background-color: var(--secondary-color);
}
  

 
