/* body {
  max-width: 100%;

    
} */
  
  

h1 {
    margin-left: 100px;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: left;
}


.progress-bar {
    
    display: flex;
    width: 65%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
    height: 50px;
}

.progress-line {
    margin: 0 auto;
    width: 90%;
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    height: 4px;
    background: #e2e8f0;
    z-index: 1;
    border-radius: 2px;
    overflow: hidden;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.progress-fill {
    height: 100%;
    width: 0;
    background: linear-gradient(to right,var(--main-color)  , #16907b);
    animation: progressAnimation 1s ease-in-out forwards;
    -webkit-animation: progressAnimation 1s ease-in-out forwards;
}

@keyframes progressAnimation {
    0%{
        width: 0%;
    }
    100% {
        width: 0%;
    }
}

.progress-bar .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 10%;
    
}
.progress-bar .step-circle1 {
    
    display: flex;
    width: 10px;
    height: 10px;
    
    margin-top: 25px;
    background-color: #a0aec0;
    border-radius: 50%;
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.progress-bar .step-circle {
    display: flex;
    width: 10px;
    height: 10px;
    margin-top: 10px;
    background-color: #a0aec0;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all .33s ease;
    -webkit-transition: all .33s ease;
    -moz-transition: all .33s ease;
    -ms-transition: all .33s ease;
    -o-transition: all .33s ease;
}

.progress-bar .step.completed .step-circle {
    background-color: var(--main-color);
    
}

.progress-bar .step.active .step-circle {
    background-color:#16907b;
    transform: scale(-1.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(-1.2);
    -moz-transform: scale(-1.2);
    -ms-transform: scale(-1.2);
    -o-transform: scale(-1.2);
}

.progress-bar .step-label {
    
    margin-top: 10px;
    font-size: 14px;
    color: #a0aec0;
    font-weight: 500;
    transition: color 0.3s ease;
}

.progress-bar .step.completed .step-label,
.progress-bar .step.active .step-label {
    color: var(--main-color);
}


.container1 {
  background-color: #fff;
    padding: 30px;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.section1{
  padding: 30px;
  background-color: #f8f9fa;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 35px;
}

.line {
  position: absolute;
  display: flex;
  height: 265px;
  width: 2px;
  background-color: var(--secondary-color);
  margin: 20px 75px;
  
}

.dot1{
  
  
  height: 10px;
  width: 10px;
  background-color: white;
  border: 2px solid var(--secondary-color);
  
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.dot2{
  
  
  height: 10px;
  width: 10px;
  background-color: rgb(179, 22, 22);
  border: 2px solid var(--secondary-color);
  
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.dots{
position: absolute;
flex-direction: column;
display: flex;
gap: 255px;
margin: 15px 71px;
}


.flight-row {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 20px;
 
} 
 
.time {
  font-size: 18px;
  color: var(--secondary-color);
  font-weight: bold;
  margin: 10px -10px;
  padding-right:15px;
} 

.location {
  gap: 10px;
  display: flex;
  flex-direction: column;
  color: #666;
  
}


.location span:first-child {
  font-weight: bold;
  color: #000;
  font-size: large;
}

.flight-info {
  display: flex;
  gap: 150px;
  align-items: center;
  color: #666;
  margin-bottom: 20px;
  margin-left: 160px;
}

.details i{
  right: 25px;
  top: 35px;
  
  position: relative;
  font-size: large;
}
.airbuss i{
  right: 15px;
  top:  -3px;
  position: relative;
  font-size: large;
}
.baggages i{
  padding: -200px;
}
.flight-info p{
 
  
  font-weight: bold;
  color: #21d197;
}
.baggages{
  display: flex;
  flex-direction: column;
 
  gap: px;
}
.airbuss{
  display: grid;
  gap: 20px;
}

.baggage {

  color: #666;
  display: flex;

  align-items: center;
  margin-left: 10px;
}

.airbus {
  color: #666;
  display: flex;
  align-items: center;
  margin-left: 10px;

}

.pricing {
  
  display: flex;
  justify-content: space-between;

 
  
}
.item div{
  margin-top: 10px;
}

.prices div{
  margin-top:10px ;
}

.section2 {
  margin-bottom: 70px;
}

.save {
  color: #f4a261;
}

.save-amount {
  color: #f4a261;
}
.hr1{
  border: none;
  height: 2px;
  background-color: var(--secondary-color);
}

.total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 20px;
}


.total-price {
  color:#21d197;
}

.submit-btn {
  width: 100%;
  padding: 15px;
  background-color: var(--main-color);
  border-radius: 9px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.submit-btn:hover {
  background-color: var(--main-color-lighter);
  color: var(--main-color);
}