section {
  width: 100%;
  padding: 40px 16px;
}

/* Progress Bar */
.progress-bar {
  display: flex;
  width: 65%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
  height: 50px;
}

.progress-line {
  margin: 0 auto;
  width: 90%;
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  height: 4px;
  background: #e2e8f0;
  z-index: 1;
  border-radius: 2px;
  overflow: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.progress-fill {
  height: 100%;
  width: 0;
  background: linear-gradient(to right, var(--main-color), #16907b);
  animation: progressAnimation 1s ease-in-out forwards;
  -webkit-animation: progressAnimation 2s ease-in-out forwards;
}

@keyframes progressAnimation {
  0% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}

.progress-bar .step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
  width: 10%;
}

.progress-bar .step-circle1 {
  display: flex;
  width: 10px;
  height: 10px;

  margin-top: 25px;
  background-color: #a0aec0;
  border-radius: 50%;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.progress-bar .step-circle {
  display: flex;
  width: 10px;
  height: 10px;
  margin-top: 10px;
  background-color: #a0aec0;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.33s ease;
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
  -ms-transition: all 0.33s ease;
  -o-transition: all 0.33s ease;
}

.progress-bar .step.completed .step-circle {
  background-color: var(--main-color);
}

.progress-bar .step.active .step-circle1 {
  transform: scale(-1.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(-1.2);
  -moz-transform: scale(-1.2);
  -ms-transform: scale(-1.2);
  -o-transform: scale(-1.2);
  animation: b 0.1s ease 1s forwards;
  -webkit-animation: b 0.1s ease 1.7s forwards;
}
@keyframes b {
  100% {
    background-color: #16907b;
  }
}

.progress-bar .step-label {
  margin-top: 10px;
  font-size: 14px;
  color: #a0aec0;
  font-weight: 500;
  transition: color 0.3s ease;
}

.progress-bar .step.completed .step-label,
.progress-bar .step.active .step-label {
  color: var(--main-color);
}

.ticket {
  display: flex;
  flex-wrap: wrap;
  background: var(--white-color);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: 70%;
    transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ticket:hover {
  scale: 1.03;
}

.ticket-left,
.ticket-right {
  padding: 24px;
}

.ticket-left {
  flex: 4 1 300px;
  position: relative;
}

.airline {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  margin-bottom: 16px;
}

.airline i {
  color: var(--main-color);
}

.passenger {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
}

.flight-route {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  flex-wrap: wrap;
}

.flight-route .time {
  font-size: 28px;
  font-weight: 600;
}

.flight-route .city {
  font-size: 13px;
  font-weight: 300;
}

.icon-plane {
  font-size: 20px;
  color: var(--secondary-color);
  margin: 0 12px;
}

.flight-date,
.duration,
.checkin {
  font-size: 12px;
  color: #666;
  margin-top: 8px;
}

.baggage {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
}

.baggage .bag {
  background: var(--third-color);
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 500;
}

.duration {
  position: absolute;
  bottom: 24px;
  left: 24px;
}

.checkin {
  position: absolute;
  bottom: 24px;
  right: 24px;
}

/* Right Side */
.ticket-right {
  background: var(--main-color);
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  flex: 1 1 150px;
}

.ticket-right .logo {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.ticket-right .logo i {
  font-size: 24px;
}

.info-block {
  margin-top: 24px;
}

.info-block .label {
  font-size: 11px;
  opacity: 0.8;
}

.info-block .value {
  font-size: 16px;
  font-weight: 600;
  margin-top: 4px;
}

.barcode {
  margin-top: 24px;
  height: 50px;
  border-radius: 4px;
  background: var(--white-color);
}

.barcode img {
  width: 100%;
  height: 50px;
  display: block;
  filter: grayscale(100%) ;
  -webkit-filter: grayscale(100%) ;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;

}